/* For Technology Image Responsiveness */
@media (max-width: 766px) {
    .techImage{
        height: 350px;
    }
}

@media (max-width: 540px) {
    .techImage{
        height: 300px;
    }
}

@media (max-width: 461px) {
    .techImage{
        height: 250px;
    }
}

@media (max-width: 385px) {
    .techImage{
        height: 200px;
    }
}

@media (max-width: 994px) {
    .about-image {
        display: none;
    }
     .aboutContent {
        padding-right: 0px !important;
    }
}

@media (max-width: 577px) {
    .aboutTxt {
        padding:0px 20px !important;
    }
}

@media (min-width:  994px) {
    .chooseUs {
        padding-left: 40px !important;
    }
      .aboutContent {
        padding-right: 40px !important;
    }
}


.aboutFontText{
    font-size: 16px; 
    line-height: 32px
}


/* Founder image Responsiveness */
@media (max-width: 768px) {
    .founderContainer{
        flex-direction: column;
        align-items: center;
        margin: 0px !important
    }
    .founderText{
        margin-top: 20px;
        padding-left: 0px !important;
    }
    .marginCont{
        margin-top: 30px !important;
    }
}

   .word {
    opacity: 0;
    display: inline-block;
    margin-right: 8px;
    animation: fadeIn 0.8s ease forwards;
  }

  #contact-button {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.6s ease, transform 0.6s ease;
}

  #services-section {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#services-section.fade-up {
  opacity: 1;
  transform: translateY(0);
}

#contact-button.fade-in {
  opacity: 1;
  transform: translateY(0); /* move into place */
}

   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

